<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Zarejestruj się</h3>
                            <div class="form-group">
                                <label for="email" class="text-info">Email:</label><br>
                                <input type="email" name="email" id="emial" class="form-control" #userName required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Hasło:</label><br>
                                <input type="password" name="password" id="password" class="form-control" #userPassword required>
                            </div>
                            <div class="form-group">
                                <input type="submit" (click)="authService.SignUp(userName.value, userPassword.value)" name="submit" class="btn btn-info btn-md" value="Zarejestruj">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    
    